.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--dark-shadow);
    min-height: 50rem;
    //normal media query and only screen means that it applies to only screen not applied while printing
    @media only screen and (max-width: $size-larger) {
        margin: 0;
        //since 1rem = 8px, max-width = 120rem becomes 120*8 = 960px not 120*16 = 1920px making margin on container
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: $size-smaller) {
        //wraps the items is no enought space
        flex-wrap: wrap;
        //increase header height
        height: 12rem;
    }
}

.content {
    //puts sidebar and hotel-view elemets side by side
    display: flex;
    @media only screen and (max-width: $size-medium) {
        //puts sidebar and hotel-view elemets on column
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    /*This means sidebar width is 18% out of total width of its parent container.No grow if there is enought space
    and no shrink if there is not enough space.18% means it shrinks accoring to space.*/
    flex: 0 0 18%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: white;
    //This means it occupies the remaining all space i.e. 82% remaining(100% - 18%)
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    @media only screen and (max-width: $size-medium) {
        padding: 3rem;
    }
    @media only screen and (max-width: $size-small) {
        flex-direction: column;
    }
}

.description {
    background-color: white;
    margin-right: 4.5rem;
    box-shadow: var(--light-shadow);
    flex: 0 0 60%;
    padding: 3rem;
    @media only screen and (max-width: $size-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
    @media only screen and (max-width: $size-small) {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*as all the items are sretched horizontally due to column direction causing bottom border of 
    button also stretch so items are centered horizontally*/
    align-items: center;
}